<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Our partners</h5>
          <p>You can email or direct contact to us for patnership.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">message us on</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="www.facebook.com"> Facebook</a>
            </li>
            <li>
              <a href="www.instagram.com">Instagram</a>
            </li>
            <li>
              <a href="www.twitter.com">Twitter</a>
            </li>
            <li>
              <a href="www.linkedin.com">Linkedin</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/"> saileshnepal.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->